<% layout('layout/boilerplate') -%>
<!-- bootstrap validation is having some problems. Using browser default validation -->
<div class="row justify-content-center">
    <div class="col-md-6 col-md-4">
        <h1 class="mb-3 text-center">New Campground</h1>
        <form class="needs-validation" action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate>
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input class="form-control" type="number" min="0" name="campground[price]" id="price" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Price must be greater than 0
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="5"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Upload Images</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <button class="btn btn-primary">Add Campground</button>
        </form>
    </div>
</div>